# Ignore all files in all sub-directories by default
# but not the sub-directories themselves
# and not files in this directory
**/*
!**/
!/*

# Include files used for testing
!/test/*

# Include git files
!.gitignore
!.gitkeep